    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">    
        <label>Title</label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="event.title" name="firstName">
    
    <label>Description</label>
    <input type="text" class="form-control" id="firstName" required [(ngModel)]="event.description" name="firstName">

    <label>Start Date</label>
    <input type="date" [(ngModel)]="event.dateD" name="dateD" required>
    
    <label>End Date</label>
    <input type="date" [(ngModel)]="event.dateF" name="dateF" required>
    
    <label>Number of Places</label>
    <input type="number" [(ngModel)]="event.nbreDePlaces" name="nbreDePlaces" required>
    
    <label>Image</label>
    <input type="file" [(ngModel)]="event.image" name="speaker" required>

    <label>Speaker</label>
    <input type="text" [(ngModel)]="event.speaker" name="speaker" required>
    
    <label>Type of Event</label>
    <select [(ngModel)]="event.typeEvent" name="typeEvent" required>
        <option>Workshop</option>
        <option>Webinaire</option>

    </select>
    
    <label>Modality of Event</label>
    <select [(ngModel)]="event.modaliteEvent" name="modaliteEvent" required>
        <option>Presentiel</option>
        <option>Distanciel</option>  
    </select>
    
    <button type="submit">Update Event</button>
  </form>
   