<style>
    #divWeatherMain{
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 220px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
    color: white;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow{
    display:block;
    margin:0 auto;
    width: fit-content;
}

.sun{
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow( 1px 1px 10px yellow);
}

.moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow( 1px 1px 10px white);
}

.cloudDiv{
    margin-top: -40px;
}

.cloud{
    color: rgb(104, 175, 197);
    filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{margin-left: 65px;}
}
</style>
<input type="text" [(ngModel)]="cityName" placeholder="Enter city name">
<button (click)="getWeatherData()">Get Weather</button>

<div id="divWeatherMain"> 
    <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-sun sun"></i>  
    </div>   
    <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
        <i class="fas fa-3x fa-moon moon"></i>  
    </div>   
    <div class="weatherWidgetRow cloudDiv">
        <i class="fas fa-cloud fa-3x cloud"></i>
    </div>
    <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">{{WeatherData.temp_min}}° / {{WeatherData.temp_max}}°</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow" style="font-size: 25px;margin-top: 10px;">{{WeatherData.name}}</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">Humidity: {{WeatherData.main.humidity}}%</div>
</div>