*{
    color: white;
    }
    
    .myrow{
        width: 50%;
        margin-left: 25%;
    }
    .mybutton{
    margin-right: 10%;
    margin-top: 20px;
    }
    .select .option{
        color: black;
    }
    .option:not(first-child) {
        color: black;
    }
    .responses-container {
        display: inline-block;
      }
      
      .response {
        display: inline;
        margin: 0 5px;
      }
      